@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
body{
    font-family: "Mulish", sans-serif;
}
*{
    margin: 0;
    padding: 0;
}
/* Shared Styles */
.dark-2{
    color: rgb(66, 66, 71);
}
h3{
    font-size:36px;
    text-align: center;
    font-weight: 800;
    
}
.span{
    color:rgb(255,84,0);
}
.container{
    width: 90%;
    margin: 5rem auto;
    border-radius: 1rem;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar .logo{
    display: flex;
    align-items: center;
    gap: 16.8px;
}
.logo img{
    width: 48px;
    height: 56px;
    margin-right: 0.5rem;
}
.navbar .nav_options ul{
    display: flex;
    list-style: none;
    gap: 3rem;
    
}
.nav_options ul li{
    
    font-size: 18px;

}
.nav_options ul li a{
    text-decoration: none;
    color: rgb(66, 66, 71);
    
}